.app-header {
    background-color: $primary-color;
    position: sticky;
    top: 0;
    left: 0;

    &__inner {
        padding: rem(10px) 0;

        .logo-wrapper {

            h2 {
                color: $light-color;
                font-size: rem(48px);
                cursor: pointer;
            }
        }

        .nav-wrapper {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100vh;
            width: 100%;
            transform: translateY(-100%);
            transition: transform 0.3s;
            z-index: 200;

            &.open {
                transform: translateY(0);
            }

            @include for-medium-layout {
                position: initial;
                transform: translateY(0);
                height: auto;
                width: 30%;
            }

            .nav {
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 150px;
                background-color: $light-color;

                @include for-medium-layout {
                    gap: 0;
                    flex-direction: row;
                    background-color: transparent;
                    justify-content: flex-end;
                }

                .close-menu-btn {
                    display: block;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: rem(28px);
                    cursor: pointer;

                    @include for-medium-layout {
                        display: none;
                    }
                }

                .header-link {
                    font-family: Roboto-Regular;
                    color: $dark-color2;
                    font-size: rem(24px);
                    cursor: pointer;
                    margin-block-end: rem(30px);


                    @include for-medium-layout {
                        color: $light-color;
                        margin-inline-start: rem(100px);
                    }

                    &.active {
                        text-decoration: underline;
                    }

                    &.hide {
                        display: none;
                    }
                }
            }
        }

        .hamburger-wrapper {
            color: $light-color;
            font-size: rem(24px);
            cursor: pointer;

            @include for-medium-layout {
                display: none;
            }
        }
    }
}