.submit-comment {
    width: rem(550px);
    margin-block-end: rem(20px);
    padding: rem(15px);
    
    input{
        padding: rem(12px);
        margin-bottom: rem(20px);
    }

    textarea{
        padding: rem(12px);
        font-size: rem(15px);
        margin-bottom: rem(15px);
        resize: none;
    }

    button{
        width: rem(65px);
        height: rem(35px);
        text-align: center;
        background-color: rgb(50, 162, 227);
        border: none;
        border-radius: rem(5px);
        color: white;
        font-weight: 400;
    }
}