.item-preview {
    width: rem(300px);
    border: 1px solid $light-color5;
    padding: rem(35px);

    .item-img-container {
        width: 150px;
        height: 150px;
        font-size: rem(108px);
        margin-block-end: rem(24px);

        img {
            width: 100%;
        }
    }

    .item-txt-container {
        text-align: center;
        font-family: Roboto-Regular;
        margin-block-end: rem(20px);

        h2 {
            margin-block-end: rem(10px);
            font-weight: 700;
        }

        h4 {
            margin-block-end: rem(10px);
            color: $light-color5;
        }

        p {
            margin-block-end: rem(10px);
            color: $light-color5;
        }
    }

    .item-crud-container {

        .item-btn {
            border: none;
            background-color: $primary-color;
            color: $light-color;
            font-family: Roboto-Regular;
            font-size: rem(16px);
            cursor: pointer;
        }

        .btn-big {
            padding: rem(10px) rem(30px);
            outline: 1px solid $light-color5;
            margin-block-end: rem(10px);
        }

        .btn-small {
            padding: rem(5px) rem(12px);
            background-color: $dark-color5;
            width: 50%;

            &:first-of-type {
                margin-inline-end: rem(2px);
            }
        }
    }
}