.details {

    padding-top: rem(50px);

    &__inner {
        max-width: rem(800px);

        .item-info-container {
            border-bottom: 1px solid $light-color5;
            padding-bottom: rem(15px);
            margin-block-end: rem(15px);

            .item-img-container {
                font-size: rem(98px);
                margin-inline-end: rem(20px);
            }
        }

        .item-txt-container {
            
            h2 {
                font-size: rem(36px);
                margin-block-end: rem(24px);
            }
            h3 {
                margin-block-end: rem(24px);
            }            
            p {
                line-height: rem(24px);
            }
        }
    }
}