.list-page {

    padding-top: rem(50px);
    
    &__inner {
        .list-title {
            font-size: rem(72px);
            margin-block-end: rem(30px);
        }

        .list-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, 300px);
            gap: rem(10px);
        }
    }
}